.columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.JIGS input{
  width: 98%;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #141313;
  border-radius: 4px;
  margin-bottom: 5px;
}

.JIGS1 {
  margin-bottom: 2px;
}
.mmm{
  display: flex;
  justify-content: space-between;
}
.mmm input{
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #bd3131;
  border-radius: 4px;
  margin-bottom: 5px;
}
.columna {
  flex:1;
  margin-right: 10px;
}
.columnas{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}


.btn-container {
  margin-top: 20px;
}

.BTN {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Additional styling for form elements */
form {
  display: flex;
  flex-direction: column;
}

input::placeholder {
  color: #100d0d;
  font-family: 'TuTipoDeLetra', sans-serif;
  font-size: 14px;
}

label {
  display: block;
  font-size: 15px;
  margin-bottom: 2px;
  font-weight: bold;
  color: #f80505;
}
.columna input{
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #251f8c;
  border-radius: 4px;
    
  margin-bottom: 5px;

}
.medios{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.mmm select {
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #bd3131;
  border-radius: 4px;
    
}

/* Add more specific styles for different input types if needed */

/* You may also add more specific styles for different sections, labels, and inputs as needed. */
