.registrar-section {
    padding: 20px;
   
    background-size:center; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position:center; /* Centra la imagen */
    height: 100vh; /* Asigna la altura del 100% del viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerregistro{
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    margin: auto;
    margin-top: 5px;
    height: 100%;
    width: 500px;
    background-color: #92929298;
    padding-bottom: 0px;
    box-sizing: border-box;
 
    
}
.headerregistro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.textregistro{
    color: #020101da;
    font-size: 48px;
    font-weight: 700;
}
.underlineregistro{
    width: 61px;
    height: 6px;
    background: #151212;
    border-radius: 9px;
}
.forgot-registrar{
    padding-left: 5px;
    color: #000000;
    font-size: 18px;
   
}

.inputregistro{
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 70px;
    background: #fffcfc;
    border-radius: 6px;
    
}

.inputregistro input{
    height: 40px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #020202;
    font-size: 19px;
}
.input img{
    margin: 0px 30px;
}

.forgot-registrar span{
    color: #e60c0c;
    cursor: pointer;
    
}
.submit-registrar{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    margin-top: -15px;
}

.registrarse{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #040404;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    
   
}