.registrar-section {
    background-image: url('../../assest/logo.png');
    background-color: rgb(230, 6, 6);
    background-size:center; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position:center; /* Centra la imagen */
    height: 100vh; /* Asigna la altura del 100% del viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.containers{
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    background-color: #92929298;
    padding-bottom: 0px;
    box-sizing: border-box;
 
    
}
.headerst{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.textst{
    color: #020101da;
    font-size: 48px;
    font-weight: 700;
}
.underlinest{
    width: 61px;
    height: 6px;
    background: #151212;
    border-radius: 9px;
}
.forgot-registrar{
    padding-left: 5px;
    color: #000000;
    font-size: 18px;
   
}

.forgot-registrar span{
    color: #e60c0c;
    cursor: pointer;
    
}
.submit-registrar{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    margin-top: 5px;
}

.registrarse{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #040404;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    
   
}