/*NAVBAR */

.nav{
    height: 50px;
    background-color: rgb(20, 14, 14);
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    color: rgb(248, 232, 232);
   

}

.nav h2{
    cursor: pointer;

}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav i.bi{
    font-size: 40px;
    color: rgb(250, 238, 238);
    cursor: pointer;
}
.nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav ul li{
    cursor: pointer;
}

/*SIDEBAR*/
.sidebar-container{
    background-color:  rgba(24, 22, 22, 0.918);
    color: rgb(250, 236, 236);
    width: 210px;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    overflow-x: hidden ;
}

.nav-option {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 30px;
    gap: 10px;
    width: 210px;
}

.nav-option:hover, .nav-option:hover i.bi{
    background-color: rgba(218, 191, 191, 0.87);
    color:rgb(247, 8, 8);
    cursor: pointer;
}

.nav-option i.bi{
    color: white;
    font-size: 20px;
}

/*MEDIA QUERY*/

@media screen and (min-width:768px){
    .navCollaps{
        width: 80px;
    }

    .navCollaps .nav-option h3 {
        display: none;
    
    }

    .navCollaps .nav-option  {
        padding: 28px;
    }

    .smallDeviceIcon{
        display: none;
    }

}


@media screen and (max-width: 767px) {
    .largeDeviceIcon{
        display: none;
    }

    .sidebar-container{
        display: none;
    }

    .smallNav{
        display: block;
    }

   
}




